:root {
  /* Primary colour scheme variations */
  --c-primary: #fff;
  --c-primary-light: #c0c0c0;
  --c-primary-dark: #808080;

  /* Secondary colour scheme variations */
  --c-secondary: #000;
  --c-secondary-light: #000;
  --c-secondary-dark: #000;

  /* Text colour scheme variations */
  --c-text: #000;
  --c-text-light: #000;
  --c-text-dark: #000;


}